<div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="profile">
                <h2>Formateur</h2>
            </div>
        </div>

    </div>
    <div class="dec">
    </div>
    <div class="row">
        <div class="header">
            <div class="col-sm-4 deconnect"><button class="btn btn-primary">Se deconnecte</button></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="information"></div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td>Pseudo:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td>Tidje</td>
            </tr>
            <br>
            <tr>
                <td>Nom:</td>
                <td></td>
                <td>Tidiane</td>
            </tr>
            <br>
            <tr>
                <td>Prenom:</td>
                <td> </td>
                <td>TOURE</td>
            </tr>
            <br>
            <tr>
                <td>Email:</td>
                <td> </td>
                <td>tije1@gmail.com</td>
            </tr>
            <br>

            <br>
        </table>
    </div>
    <div class="col-sm-4"><img src="assets/tige.jpg" alt="Admin" class="rounded-circle" width="150">
    </div>
    <div class="col-sm-4"><span><tr>
      <td>Tel:</td>
      <td> </td>
      <td>77 655 65 76 </td>
  </tr>
</span></div>
</div>